# Mac
.DS_Store

# Editor
.vscode
.idea

# Generic
*.log
*.backup
*.local.txt
*.local.sh
*.local.yml
*.local.yaml
*.local.json
Makefile.local.mk

# Go
slr
slr-linux-amd64
/training-cli
/training-cli-linux-amd64
*.exe
/dist/**
cobra-docs
